
<nav class="container-menu">
    <ul class="menu">
        <li class="menu-item">
            <img src="assets/rh.png" alt="">
            <a routerLink="template1">RH</a>
        </li>
        <li class="menu-item">
            <img src="assets/financeiro.png" alt="">
            <a routerLink="template2">Financeiro</a>
        </li>
        <li class="menu-item">
            <img src="assets/producao.png" alt="">
            <a routerLink="template3">Produção</a>
        </li>
        <li class="menu-item">
            <img src="assets/estoque.png" alt="">
            <a routerLink="template4">Estoque</a>
        </li>
        <li class="menu-item">
            <img src="assets/vendas.png" alt="">
            <a routerLink="template5">Vendas</a>
        </li>   
    </ul>
    <div class="icon">
        <img src="assets/nanotechnology.png" alt="">
    </div>
</nav>
